* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgb(210, 208, 208);
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closed-menu {
  display: none;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo img {
  width: 50px;
}

nav a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: all 0.5s ease;
}

nav a:hover {
  transform: scale(1.18);
  color: red;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 27px;
}

.auth-buttons a {
  text-decoration: none;
  color: orange;
}

.auth-buttons button {
  border: none;
  font-size: 15px;
  background-color: orange;
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

/* Main */

main {
  margin-top: 35px;
}

/* Hero */

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.hero h1 {
  font-size: 42px;
  color: cadetblue;
}

.hero-text span {
  color: orange;
}

.hero-text button {
  border: none;
  font-size: 15px;
  background-color: orange;
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

@media (max-width: 992px) {
  nav ul {
    display: none;
  }
  .closed-menu {
    display: block;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
  }
  .hero-image {
    order: -1;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .hero-image img {
    max-width: 80%;
    margin: 0 auto;
  }
}
